:root {
  --purple-color: rgba(112, 35, 112, 1);
  --gray-color: rgb(120, 120, 120);
  --light-purple-color: rgba(238, 212, 238, 1);
}

.heading-1 {
  text-align: center;
  color: var(--purple-color);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-input {
  outline: none;
  padding-inline: 0.5rem;
  padding-block: 0.3rem;
}

.todo-input:focus {
  border: 2px solid var(--purple-color);
  border-radius: 2px;
}

.add_task {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.todo-list {
  min-inline-size: 40vw;
  padding: 0;
}

.todo-list-item {
  border: 1px solid var(--gray-color);
  border-radius: 5px;
  margin-bottom: 1rem;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 1.5rem;
}

.todo-list-item:hover {
  border: 1px solid var(--purple-color);
  background-color: var(--light-purple-color);
}

.clickable {
  cursor: pointer;
}

.btn-remove {
  opacity: 0;
}

.todo-list-item:hover .btn-remove {
  opacity: 1;
}

.strikethrough {
  text-decoration: line-through;
}

.add-tasks {
  color: var(--purple-color);
  text-align: center;
}

@media (max-width: 440px) {
  .todo-list {
    inline-size: 80vw;
  }
}

@media (min-width: 441px) and (max-width: 769px) {
  .todo-list {
    inline-size: 50vw;
  }
}
